:root {
    --background-color: #0D1321;
    --primary-color: #FF7D00;
    --secondary-color: #FFFFFF;
    --infoText-color: #7D8CA3;
    --success-color: #157F1F;
    --danger-color: #CC2936;
    --warning-color: #ffc107;
    --info-color: #17233B;
}