
.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--info-color);
    border-radius: 8px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: var(--secondary-color);
}


.login-form-container h1 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.form-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: var(--infoText-color);
    color: var(--background-color);
}

.form-input::placeholder {
    color: var(--background-color);
    font-style: italic;
    opacity: 0.8;
}

.form-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.6);
}

.form-button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--success-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: var(--primary-color);
}


.form-button:disabled {
    background-color: var(--info-color);
    cursor: not-allowed;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.error-message {
    color: var(--danger-color);
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.login-register-button-container {
    margin-top: 1rem;
    text-align: center;
}

.login-register-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: var(--infoText-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-register-button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.login-register-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 123, 0, 0.4);
}

.login-register-button:active {
    background-color: var(--info-color);
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
    .login-form-container {
        padding: 1.5rem;
    }

    .login-form-container h1 {
        font-size: 1.5rem;
    }

    .form-input {
        padding: 0.6rem;
    }

    .form-button {
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}
