
.movie-container {
  box-sizing: border-box;
  background-color: var(--info-color);
  border: none;
  border-radius: 10px;
  margin: 12px 0;
  width: 300px;
  height: 480px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-container a {
  text-decoration: none;
}

.movie-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  z-index: 1001;
}


.movie-poster-container {
  width: 230px;
  height: 345px;
  margin: 0 auto;
  cursor: pointer;
}

.movie-poster {
  width: 230px;
  height: 345px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-title {
  font-size: 1.5em;
  color: var(--primary-color);
  text-align: center;
  margin-top: 20px;
}


.movie-details {
  box-sizing: border-box;
  position: absolute;
  top: 98%;
  width: 100%;
  left: 0;
  background-color: var(--info-color);
  padding: 10px;
  border: 1px solid var(--primary-color);
  text-align: left;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}

.movie-container:hover .movie-details {
  opacity: 1;
  transform: translateY(0);
}

.movie-genres,
.movie-release-date {
  font-size: 1em;
  color: var(--infoText-color);
  margin: 0;
}

.movie-actions {
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 0 10px;
}

.movie-button {
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.movie-delete-button {
  background-color: var(--danger-color);
}

.movie-delete-button:hover {
  background-color: var(--primary-color);
}

.movie-delete-button:active {
  background-color: #5a2026;
}

.movie-edit-button {
  background-color: var(--success-color);
}

.movie-edit-button:hover {
  background-color: var(--primary-color);
}

.movie-edit-button:active {
  background-color: #1e7e34;
}

.movie-add-to-list {
  position: relative;
  margin-top: 1px;
  text-align: center;
}

.movie-add-button {
  background-color: var(--info-color);
  color: var(--success-color);
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.movie-remove-button {
  background-color: var(--info-color);
  color: var(--danger-color);
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.movie-add-button:hover {
  color: var(--primary-color, #555);
}

.movie-remove-button:hover {
  color: var(--primary-color, #555);
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.movie-lists-dropdown {
  position: absolute;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  z-index: 2000;
  width: 200px;
  padding: 10px;
}

.movie-list-option {
  background-color: var(--info-color);
  padding: 5px 10px;
  cursor: pointer;
}

.movie-list-option:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.movie-list-actions {
  position: relative;
  justify-content: center;
  display: flex;
}