@import url('./colors.css');

.movie-container {
    background-color: var(--info-color);
    border: none;
    border-radius: 10px;
    padding: 16px;
    margin: 12px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.movie-title {
    font-size: 1.5em;
    color: var(--primary-color);
    line-height: 1.5;
    margin: 0;
}

.movie-genres, .movie-release-date, .movie-director, .movie-plot {
    font-size: 1em;
    color: var(--infoText-color);
    line-height: 1.5;
    margin: 0;
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 60%;
    flex-grow: 1;
}

.movie-details-poster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movie-poster {
    margin: auto;
    width: 230px;
    height: 345px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.movie-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

button {
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between icon and text */
    height: 48px; /* Ensuring same height */
}

.delete-button {
    background-color: var(--danger-color);
}

.delete-button:hover {
    background-color: var(--primary-color);
}

.delete-button:active {
    background-color: #5a2026;
}

/* Edit Button (Success) */
.edit-button {
    background-color: var(--success-color);
}

.edit-button:hover {
    background-color: var(--primary-color);
}

.edit-button:active {
    background-color: #1e7e34;
}
