@import url('./colors.css');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

.container {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    align-items: start;
    justify-content: center;
}

.movies-list a {
    text-decoration: none;
}


.add-movie-button {
    background-color: var(--success-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.add-movie-button:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.add-movie-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 125, 0, 0.5);
}

.add-movie-button:active {
    background-color: var(--danger-color);
    transform: translateY(1px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.filter-input {
    padding: 8px;
    font-size: 1rem;
    width: 200px;
    border: 1px solid var(--infoText-color);
    background-color: var(--infoText-color);
    color: var(--info-color);
    border-radius: 5px;
}

.filter-input:focus {
    border-color: var(--primary-color);
}

.filter-input::placeholder {
    color: var(--info-color);
}

.filter-select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--infoText-color);
    background-color: var(--infoText-color);
    color: var(--info-color);
    border-radius: 5px;
}

.filter-select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--infoText-color);
    background-color: var(--infoText-color);
    color: var(--info-color);
    border-radius: 5px;
}

.filter-select option {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .container {
        padding: 16px;
    }
}
