@import url("./colors.css");

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.movie-details-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-details-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.poster-container {
  max-width: 400px;
  flex: 0 0 auto;
  text-align: center;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

.info-container h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.info-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 10px 0;
  color: var(--infoText-color);
    white-space: pre-wrap;
    word-wrap: break-word;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.movie-details-button {
  background-color: var(--success-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.movie-details-button:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.movie-details-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 125, 0, 0.5);
}

.movie-details-button:active {
  background-color: var(--danger-color);
  transform: translateY(1px);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.delete-button {
  background-color: red;
}
.delete-button:hover {
  background-color: #cc0000;
}

.comments-section h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.comment-form {
  margin-bottom: 15px;
}

.comment-input {
  padding: 10px;
  border: 1px solid var(--infoText-color);
  border-radius: 5px;
  background-color: var(--infoText-color);
  color: var(--secondary-color);
  min-width: 96%;
  resize: vertical;
}


.comment-input::placeholder {
  color: var(--info-color)
}

.submit-comment-button {
  margin-top: 5px;
  background-color: var(--success-color);
  color: var(--secondary-color);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-comment-button:hover {
  background-color: var(--primary-color);
}

.comments-list {
  margin-top: 10px;
}

.details-split-container {
  display: flex;
  gap: 20px;
}


.reviews-section h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.average-rating-text {
  font-size: 1.1rem;
  color: var(--infoText-color);
  margin-bottom: 15px;
}


.review-form-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.review-rating-input {
  width: 60px;
  padding: 5px;
  border: 1px solid var(--infoText-color);
  border-radius: 5px;
  background-color: var(--infoText-color);
  color: var(--secondary-color);
}

.review-textarea {
  width: 96%;
  min-height: 60px;
  padding: 10px;
  border: 1px solid var(--infoText-color);
  border-radius: 5px;
  background-color: var(--infoText-color);
  color: var(--secondary-color);
  resize: vertical;
}

.review-textarea::placeholder {
  color: var(--info-color);
}

.review-submit-button {
  background-color: var(--success-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.review-submit-button:hover {
  background-color: var(--primary-color);
}

.comments-section, .reviews-section {
  flex: 1;
  overflow-y: auto;
}


.movie-details-add-button {
  background-color: var(--background-color);
  color: var(--success-color);
  border: none;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}

.movie-details-remove-button {
  background-color: var(--background-color);
  color: var(--danger-color);
  border: none;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
}

.movie-details-add-button:hover {
  color: var(--primary-color, #555);
}

.movie-details-remove-button:hover {
  color: var(--primary-color, #555);
}

.dropdown-details-wrapper {
  position: relative;
  display: inline-block;
}

.movie-details-lists-dropdown {
  position: absolute;
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  z-index: 2000;
  width: 200px;
  padding: 10px;
}


.movie-details-list-option {
  background-color: var(--info-color);
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.movie-details-list-option:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.movie-details-list-actions {
  position: relative;
  justify-content: center;
  display: flex;
}



@media (max-width: 768px) {
  .movie-details-content {
    flex-direction: column;
    align-items: center;
  }

  .poster-container {
    max-width: 100%;
  }

  .movie-poster {
    max-width: 300px;
    margin-bottom: 10px;
  }

  .info-container {
    width: 100%;
    margin-top: 20px;
  }

  .info-container h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .info-container p {
    font-size: 1rem;
    color: var(--infoText-color);
  }

  .movie-details-button,
  .edit-button,
  .delete-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
